.quemsou-bg {
  gap: 20px;
  align-items: center;
  background: #121212;
  box-shadow: inset 0 -120px white;
}

.quemsou {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.quemsou-conteudo {
  align-self: end;
  padding-bottom: 120px;
}

.quemsou h1 {
  padding: 20px;
  color: #ffffff;
  padding-bottom: 16px;
  font-size: 64px;
  line-height: 1.125;
  font-family: "Poppins";
  font-weight: 600;
}

.quemsou img {
  height: 100%;
  object-fit: cover;
}
.quemsou h1 span {
  color: #ff6700;
}

.quemsou p {
  padding: 20px;
  color: #b3b3b3;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Roboto";
  font-weight: 400;
}

@media (max-width: 1200px) {
  .quemsou h1 {
    font-size: 48px;
  }
  .quemsou p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .quemsou {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .quemsou-conteudo {
    padding-bottom: 0px;
  }
  .quemsou h1 {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .quemsou h1 {
    font-size: 28px;
  }
  .quemsou p {
    font-size: 14px;
  }
  .quemsou img {
    height: 550px;
    width: 100%;
  }
}
