.quemsou-bg {
  gap: 20px;
  align-items: center;
  background: var(--cor-11);
}

.quemsou {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.quemsou-conteudo {
  align-self: end;
  padding-bottom: 120px;
}

.quemsou h1 {
  padding: 20px;
  padding-bottom: 16px;
}

.quemsou img {
  height: 100%;
  object-fit: cover;
}

.quemsou h1 span {
  color: var(--cor-p1);
}

.quemsou p {
  padding: 20px;
  margin-bottom: 32px;
}

@media (max-width: 1200px) {
  .quemsou h1 {
    font-size: 48px;
  }
  .quemsou p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .quemsou {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .quemsou-conteudo {
    padding-bottom: 0px;
  }
  .quemsou h1 {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .quemsou h1 {
    font-size: 28px;
  }
  .quemsou p {
    font-size: 14px;
  }
  .quemsou img {
    height: 550px;
    width: 100%;
  }
}
